@font-face {
   	font-family: Lora-Bold; 
  	src: url('/assets/fonts/Lora-Bold.ttf');
}

@font-face {
   	font-family: Lora-Italic; 
  	src: url('/assets/fonts/Lora-Italic.ttf');
}

@font-face {
   	font-family: Lora-Regular; 
  	src: url('/assets/fonts/Lora-Regular.ttf');
}

@font-face {
   	font-family: OpenSans-Bold; 
  	src: url('/assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
   	font-family: OpenSans-Regular; 
  	src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: OpenSans-Light; 
  	src: url('/assets/fonts/OpenSans-Light.ttf');
}

body {
	background-color: #000000;
	padding-top: 5%;
  	padding-right: 20%;
  	padding-bottom: 5%;
  	padding-left: 20%;
}

h1 {
	color: white;
	font-size: 69px;
	font-family: Lora-Regular, Times New Roman, serif;
	text-transform: uppercase;
}
  
h2 {
	color: #8E6E3C;
	font-size: 36px;
	font-family: Lora-Regular, Times New Roman, serif;
}
  
h5 {
	color: #F2F2F2;
	font-size: 16px;
	font-family: OpenSans-Light, Arial, sans-serif;
	letter-spacing: 0.5px;
}

h6 {
	color: #757575;
	font-size: 12px;
	font-family: OpenSans-Light, Arial, sans-serif;
	letter-spacing: 0.6px;
}

hr {
	margin-top: 169px;
}

a:link {
  	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
  	color: white;
}

a:active {
  	color: white;
}
	
#navbar {
    position: fixed;
    width: 100%;
    background-color: #FFA64D;
    left: 0px;
    top: 0px;
}
    
nav ul {
	margin: 0px;
	padding: 10px 0px 10px 20px;
	font-size: 13px;
	font-family: OpenSans-Regular, Arial, sans-serif;
	text-transform: uppercase;
	color: white;
}
	
nav li {
	display: inline;
	margin-right: 20px;
}

.areas {
	display: flex;
}

.areas iframe {
        float: left;
        margin: 0 20px 20px 0;
}

.box img {
        max-width: 60%;
	height: auto;
        float: left;
        margin: 0 20px 20px 0;
}

footer {
	clear: both;			
}
