<style>

@font-face {
   	font-family: Lora-Bold; 
  	src: url('Lora-Bold.ttf');
	}
	
@font-face {
   	font-family: Lora-Italic; 
  	src: url('Lora-Italic.ttf');
	}
	
@font-face {
   	font-family: Lora-Regular; 
  	src: url('Lora-Regular.ttf');
	}
	
@font-face {
   	font-family: OpenSans-Bold; 
  	src: url('OpenSans-Bold.ttf');
	}
	
@font-face {
   	font-family: OpenSans-ExtraBold; 
  	src: url('OpenSans-ExtraBold.ttf');
	}
	
@font-face {
   	font-family: OpenSans-Regular; 
  	src: url('OpenSans-Regular.ttf');
	}
	
@font-face {
	font-family: OpenSans-Light; 
  	src: url('OpenSans-Light.ttf');
	}

body {
	background-color: #000000;
	}
	
h1 {
	color: white;
	font-size: 69px;
	font-family: Lora-Regular, Times New Roman, serif;
	text-transform: uppercase;
	}
  
h2 {
	color: #F8BCB7;
	font-size: 36px;
	font-family: Lora-Bold, Times New Roman, serif;
	}
  
h5 {
	color: #F2F2F2;
	font-size: 16px;
	font-family: OpenSans-Light, Arial, sans-serif;
	letter-spacing: 1px;
	}
	
#navbar {
    position: fixed;
    width: 100%;
    background-color: #FFA64D;
    left: 0px;
    top: 0px;
    }
    
nav ul {
	margin: 0px;
	padding: 10px 0px 5px 20px;
	font-size: 13px;
	font-family: OpenSans-Regular, Arial, sans-serif;
	text-transform: uppercase;
	color: white;
	}
	
nav li {
	display: inline;
	margin-right: 20px;
	}

</style>
