<style>

body {
	background-color: #000000;
	}
	
h1 {
	color: white;
	font-size: 69px;
	font-family: Lora-Regular, Times New Roman, serif;
	}
  
h2 {
	color: #F8BCB7;
	font-size: 36px;
	font-family: Lora-Bold, Times New Roman, serif;
	}
  
h5 {
	color: grey;
	font-size: 15px;
	font-family: OpenSans-Light, Arial, sans-serif;
	}
	
#navbar {
    position: fixed;
    width: 100%;
    background-color: #DAA520;
    left: 0px;
    top: 0px;
    }
    
nav ul {
	margin: 0px;
	padding: 10px 0px 5px 20px;
	font-size: 15px;
	font-family: OpenSans-ExtraBold, Arial-Bold, sans-serif;
	text-transform: uppercase;
	color: white;
	}
	
nav li {
	display: inline;
	margin-right: 20px;
	}

</style>
